<h1>Companies</h1>
<%= link_to "Add New Company", new_company_path %>
<% @companies.each do |company| %>

<p>
    <arcticle>
        <header>
            <%= "Name: " + company.name  %>
            <br>
            <%= "CEO: " + company.ceo  %>
            <br>
            <%= "Address: " + company.address %>
            <br>
            <%= "State: " + company.state  %>
            <br>
            <%= "Zip: " + company.zip  %> <br />

            
            <%= link_to "Edit", edit_company_path(company)%>
            
        </header>
    </arcticle>
    
</p>
<% end %>